body {
    background-color: #00adee;
}

.connect-container {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 30px;
    margin-right: 30px;
}

.title-container {
    display: block;
    width: 100%;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    text-shadow: 2px 2px #000;
    text-align: center;
    margin-top: 30px;
}

.img-container {
    z-index: 1;
    display: block;
    position: fixed;
    top: 120px;
    left: calc(25% - 100px);
}

.content-container {
    position: fixed;
    width: 500px;
    height: 500px;
    top: 120px;
    overflow: auto;
    background-color: #fff;
    margin-left: calc(25% + 100px);
    margin-top: 30px;
    padding: 10px;
    padding-left: 140px;
    padding-bottom: 30px;
    border: 5px solid #b8e8fd;
    border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1b75bb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.result-container {
    margin-bottom: 20px;
}

.result-container .text1 {
    font-size: 60px;
    font-weight: bolder;
    color: palevioletred;
}

.result-container .text2 {
    font-size: 40px;
    font-weight: bolder;
    color: #1b75bb;
}

.form-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.label {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 3px;
    color: #1b75bb;
}

.label2 {
    width: 320px;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 2px solid #eee;
    padding: 5px 10px;
    margin-bottom: 13px;
}

.label2:focus {
    outline: none;
}

.form-button {
    display: block;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #00a2eb;
    border-radius: 30px;
    border: 0;
}

.button-check {
    display: block;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #00a2eb;
    border-radius: 30px;
    border: 0;
}

.labelGift {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1b75bb;
}